
:host {

  &:hover {
    &.icon-button {
      filter: brightness(110%);
    }

    &.text-button {
      filter: brightness(110%);
    }
  }

  &.text-button {
    color: #fff;
    background-color: #54457F!important;
    font-size: 20px!important;
  }

  &.browse-add-to-cart-button {
    color: #fff;
    background-color: #397367;
  }

  &.button {
    color: #fff;
    background-color: #D7263D;
  }

}


.upscale-extra-small,
.upscale-small,
.upscale-large,
.upscale-extra-large {
  :host {
    &.icon-button {
      $size: 45px;
      max-height: $size;
      height: $size;
      max-width: $size;
      width: $size;
    }

    &.text-button {
      height: 45px;
      width: 125px;
    }
  }
}

