:host {
	.browse-add-to-cart-button {
		color: #000;
		background-color: #89B0AE;
	}

	button {
		color: #000;
		background-color: #DDFFF7;
	}

	.text-button {
		color: #000;
		background-color: #E5F2C9;
	}
}
